<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SQLiteConnectionString" value="Data Source=C:\Users\Xorbyten\source\repos\TelegramBot\TelegramBot\Database\Recipes.db;Mode=ReadOnly;"/>
    <add key="TelegramApiToken" value=""/>
    <add key="SearchQuery" value="SELECT * FROM Cookbook JOIN Ingredients ON Cookbook.recipe_id = Ingredients.ingredient_id WHERE ingr1 LIKE '%{keyword}%' OR ingr2 LIKE '%{keyword}%' OR ingr3 LIKE '%{keyword}%' OR ingr4 LIKE '%{keyword}%' OR ingr5 LIKE '%{keyword}%' OR ingr6 LIKE '%{keyword}%' OR ingr7 LIKE '%{keyword}%' OR ingr8 LIKE '%{keyword}%' OR ingr9 LIKE '%{keyword}%' OR ingr10 LIKE '%{keyword}%';"/>
  </appSettings>
  <connectionStrings>
    <add name="SqlServerConString" connectionString="(localdb)\MSSQLLocalDB;Database=test;"/>
  </connectionStrings>
</configuration>